In [1]:
import pandas as pd
import numpy as np
import time

results = []

### Opening a file

#### Pandas

In [2]:
def download_data_pd(file_path):
    data_pd = pd.read_csv(
        file_path,
        sep=';',
        na_values='?',
        low_memory=False
    )
    
    data_pd.dropna()
    
    data_pd['Date'] = pd.to_datetime(data_pd['Date'], format='%d/%m/%Y', errors='coerce')
    
    return data_pd

start_time = time.time()
data_pd = download_data_pd('household_power_consumption.txt')
time_pd = time.time() - start_time
results.append(('Pandas', 'download_data', time_pd, 5))

data_pd.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

#### Numpy

In [3]:
def download_data_np(file_path):
    data_np = np.genfromtxt(
        file_path,
        delimiter=';',
        skip_header=1,
        missing_values="?",
        filling_values=np.nan,
        dtype=None,
        encoding='utf-8'
    )
    return data_np

start_time = time.time()    
data_np = download_data_np('household_power_consumption.txt')
time_pd = time.time() - start_time
results.append(('Numpy', 'download_data', time_pd, 1))

print(data_np)

[('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.)
 ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.)
 ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.) ...
 ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.)
 ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.)
 ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)]

### 1. Select all entries in which the total active power consumption exceeds 5 kW

#### Pandas

In [4]:
def active_power_pd(data_pd):
    filtered_data_pd = data_pd[data_pd['Global_active_power'] > 5]
    return filtered_data_pd

start_time = time.time() 
filtered_data_pd = active_power_pd(data_pd)
time_pd = time.time() - start_time
results.append(('Pandas', 'active_power', time_pd, 5))

filtered_data_pd.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0

#### Numpy

In [5]:
def active_power_np(data_np):
    filtered_data_np = data_np[data_np['f2'] > 5.0]
    return filtered_data_np

start_time = time.time() 
filtered_data_np = active_power_np(data_np)
time_pd = time.time() - start_time
results.append(('Numpy', 'active_power', time_pd, 4))

print(filtered_data_np)

[('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0.,  1., 16.)
 ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0.,  2., 17.)
 ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0.,  1., 17.) ...
 ('24/11/2010', '07:50:00', 5.172, 0.05 , 235.18, 22. , 0., 38., 17.)
 ('24/11/2010', '07:51:00', 5.75 , 0.   , 234.4 , 24.6, 0., 39., 17.)
 ('25/11/2010', '07:21:00', 5.074, 0.24 , 238.55, 21.4, 1.,  2., 18.)]

### 2. Select all entries in which the voltage exceeds 235 V

#### Pandas

In [6]:
def voltage_pd(data_pd):
    filtered_data_pd = data_pd[data_pd['Voltage'] > 235]
    return filtered_data_pd

start_time = time.time() 
filtered_data_pd = voltage_pd(data_pd)
time_pd = time.time() - start_time
results.append(('Pandas', 'voltage', time_pd, 5))

filtered_data_pd.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0

#### Numpy

In [7]:
def voltage_np(data_np):    
    filtered_data_np = data_np[data_np['f4'] > 235]
    return filtered_data_np

start_time = time.time() 
filtered_data_np = voltage_np(data_np)
time_pd = time.time() - start_time
results.append(('Numpy', 'voltage', time_pd, 4))

print(filtered_data_np)

[('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.)
 ('16/12/2006', '17:29:00', 3.52 , 0.522, 235.02, 15. , 0., 2., 17.)
 ('16/12/2006', '17:30:00', 3.702, 0.52 , 235.09, 15.8, 0., 1., 17.) ...
 ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.)
 ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.)
 ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)]

### 3. Select all entries in which the current is between 19-20 A, for them identify those in which the washing machine and refrigerators consume more than the boiler and air conditioner

#### Pandas

In [8]:
def intensity_sub_metering_pd(data_pd):
    filtered_data_pd = data_pd[(data_pd['Global_intensity'] >= 19) & (data_pd['Global_intensity'] <= 20)]
    result = filtered_data_pd[filtered_data_pd['Sub_metering_2'] > filtered_data_pd['Sub_metering_3']]
    return result

start_time = time.time() 
result = intensity_sub_metering_pd(data_pd)
time_pd = time.time() - start_time
results.append(('Pandas', 'intensity_sub_metering', time_pd, 5))

result.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0

#### Numpy

In [9]:
def intensity_sub_metering_np(data_np):
    filtered_data_np = data_np[(data_np['f5'] >= 19) & (data_np['f5'] <= 20)]
    result = filtered_data_np[filtered_data_np['f7'] > filtered_data_np['f8']]
    return result

start_time = time.time() 
result = intensity_sub_metering_np(data_np)
time_pd = time.time() - start_time
results.append(('Numpy', 'intensity_sub_metering', time_pd, 2))

print(result)

[('16/12/2006', '18:09:00', 4.464, 0.136, 234.66, 19. , 0., 37., 16.)
 ('17/12/2006', '01:04:00', 4.582, 0.258, 238.08, 19.6, 0., 13.,  0.)
 ('17/12/2006', '01:08:00', 4.618, 0.104, 239.61, 19.6, 0., 27.,  0.) ...
 ('24/11/2010', '07:55:00', 4.602, 0.   , 237.08, 19.4, 0., 40., 17.)
 ('24/11/2010', '07:56:00', 4.536, 0.   , 237.03, 19. , 0., 39., 17.)
 ('24/11/2010', '07:57:00', 4.626, 0.   , 236.78, 19.4, 0., 39., 17.)]

### 4. Randomly select 500,000 records (without repetition of sample elements), calculate the average values ​​of all 3 groups of electricity consumption for them

#### Pandas

In [10]:
def mean_values_pd(data_pd):
    random_sample = data_pd.sample(n=500000, random_state=42)
    
    mean_values = random_sample[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean()
    return mean_values

start_time = time.time() 
mean_values = mean_values_pd(data_pd)
time_pd = time.time() - start_time
results.append(('Pandas', 'mean_values', time_pd, 5))

print(mean_values)

Sub_metering_1    1.123054
Sub_metering_2    1.299983
Sub_metering_3    6.465535
dtype: float64

#### Numpy

In [11]:
def mean_values_pd(data_np):
    random_indices = np.random.choice(len(data_np), size=500000, replace=False)
    sampled_data = data_np[random_indices]
    
    # Обчислення середніх величин для трьох груп споживання
    average_sub_metering_1 = np.nanmean(sampled_data['f6'])  # Sub_metering_1
    average_sub_metering_2 = np.nanmean(sampled_data['f7'])  # Sub_metering_2
    average_sub_metering_3 = np.nanmean(sampled_data['f8'])  # Sub_metering_3
    return average_sub_metering_1, average_sub_metering_2, average_sub_metering_3

start_time = time.time()
average_sub_metering_1, average_sub_metering_2, average_sub_metering_3 = mean_values_pd(data_np)
time_pd = time.time() - start_time
results.append(('Numpy', 'mean_values', time_pd, 4))

print("Sub_metering_1:", average_sub_metering_1)
print("Sub_metering_2:", average_sub_metering_2)
print("Sub_metering_3:", average_sub_metering_3)

Sub_metering_1: 1.1298861749098716
Sub_metering_2: 1.302641066148175
Sub_metering_3: 6.46981407218374

### 5. Select those records that after 18:00 consume more than 6 kW per minute on average, among the selected ones identify those in which the main electricity consumption in the specified time period is for the washing machine, dryer, refrigerator and lighting (group 2 is the largest), and then select every third result from the first half and every fourth result from the second half

#### Pandas

In [12]:
def data_after_6pm_pd(data_pd):
    data_pd['Time'] = pd.to_datetime(data_pd['Time'], format='%H:%M:%S', errors='coerce').dt.time
    
    # Фільтрація записів після 18:00 з потужністю > 6 кВт
    data_pd_after_6pm = data_pd[
            (pd.to_datetime(data_pd['Time'], format='%H:%M:%S').dt.hour >= 18) &
            (data_pd['Global_active_power'] > 6)]
    
    # Вибір записів, де Sub_metering_2 є найбільшим споживачем
    data_pd_sub_metering_2 = data_pd_after_6pm[
        data_pd_after_6pm['Sub_metering_2'] > data_pd_after_6pm[['Sub_metering_1', 'Sub_metering_3']].max(axis=1)
    ]
    
    # Розділяємо дані на половини
    half = len(data_pd_sub_metering_2) // 2
    first_half = data_pd_sub_metering_2.iloc[:half]
    second_half = data_pd_sub_metering_2.iloc[half:]
    
    # Вибираємо кожен 3-й запис з першої половини та кожен 4-й з другої половини
    selected_first_half = first_half.iloc[::3]
    selected_second_half = second_half.iloc[::4]
    
    final_result = pd.concat([selected_first_half, selected_second_half])
    return final_result

start_time = time.time() 
final_result = data_after_6pm_pd(data_pd)
time_pd = time.time() - start_time
results.append(('Pandas', 'data_after_6pm', time_pd, 1))

final_result.head(10)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,2006-12-28,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,2006-12-28,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,2006-12-28,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
17504,2006-12-28,21:08:00,7.352,0.000,235.45,31.2,1.0,73.0,17.0
17507,2006-12-28,21:11:00,9.048,0.000,231.48,39.0,34.0,71.0,16.0
17510,2006-12-28,21:14:00,9.118,0.108,231.18,39.4,36.0,72.0,16.0
17513,2006-12-28,21:17:00,7.040,0.130,233.27,30.2,37.0,38.0,17.0
18952,2006-12-29,21:16:00,6.146,0.116,230.53,26.6,0.0,70.0,0.0

#### Numpy

In [13]:
def data_after_6pm_np(data_np):
    after_6pm = np.array([int(time.split(':')[0]) >= 18 for time in data_np['f1']])
    data_np_after_6pm = data_np[after_6pm]
    
    data_np_after_6pm = data_np_after_6pm[data_np_after_6pm['f2'] > 6.0]
    
    data_np_after_6pm = data_np_after_6pm[
        (data_np_after_6pm['f7'] > data_np_after_6pm['f6']) &
        (data_np_after_6pm['f7'] > data_np_after_6pm['f8']) 
    ]
    
    mid_index = len(data_np_after_6pm) // 2
    first_half = data_np_after_6pm[:mid_index]
    second_half = data_np_after_6pm[mid_index:]
    
    selected_first_half = first_half[::3]
    selected_second_half = second_half[::4]
    
    final_result = np.concatenate((selected_first_half, selected_second_half))
    return final_result

start_time = time.time() 
final_result = data_after_6pm_np(data_np)
time_pd = time.time() - start_time
results.append(('Numpy', 'data_after_6pm', time_pd, 5))

print(final_result)

[('16/12/2006', '18:05:00',  6.052, 0.192, 232.93, 26.2,  0., 37., 17.)
 ('16/12/2006', '18:08:00',  6.308, 0.116, 232.25, 27. ,  0., 36., 17.)
 ('28/12/2006', '20:58:00',  6.386, 0.374, 236.63, 27. ,  1., 36., 17.)
 ('28/12/2006', '21:02:00',  8.088, 0.262, 235.5 , 34.4,  1., 72., 17.)
 ('28/12/2006', '21:05:00',  7.23 , 0.152, 235.22, 30.6,  1., 73., 17.)
 ('28/12/2006', '21:08:00',  7.352, 0.   , 235.45, 31.2,  1., 73., 17.)
 ('28/12/2006', '21:11:00',  9.048, 0.   , 231.48, 39. , 34., 71., 16.)
 ('28/12/2006', '21:14:00',  9.118, 0.108, 231.18, 39.4, 36., 72., 16.)
 ('28/12/2006', '21:17:00',  7.04 , 0.13 , 233.27, 30.2, 37., 38., 17.)
 ('29/12/2006', '21:16:00',  6.146, 0.116, 230.53, 26.6,  0., 70.,  0.)
 ('29/12/2006', '21:19:00',  6.184, 0.138, 231.57, 26.6,  0., 70.,  0.)
 ('29/12/2006', '21:22:00',  6.214, 0.12 , 230.53, 26.8,  0., 70.,  0.)
 ('29/12/2006', '21:25:00',  6.086, 0.   , 229.04, 26.6,  0., 69.,  0.)
 ('29/12/2006', '21:29:00',  6.66 , 0.   , 229.  , 29. ,  0., 69., 17.)
 ('29/12/2006', '22:28:00',  6.3  , 0.294, 236.08, 26.8,  0., 65., 17.)
 ('29/12/2006', '22:31:00',  6.426, 0.282, 234.8 , 27.4,  0., 73., 17.)
 ('29/12/2006', '22:34:00',  6.238, 0.268, 235.12, 26.4,  0., 73., 17.)
 ('7/1/2007', '18:02:00',  6.466, 0.048, 230.83, 28. ,  0., 70., 16.)
 ('7/1/2007', '18:05:00',  6.828, 0.   , 230.9 , 29.4,  0., 70., 16.)
 ('7/1/2007', '18:08:00',  6.74 , 0.   , 230.78, 29.2,  0., 70., 16.)
 ('7/1/2007', '18:16:00',  7.77 , 0.556, 230.79, 33.6,  0., 37., 16.)
 ('7/1/2007', '21:13:00',  6.654, 0.144, 233.52, 28.4, 36., 37., 17.)
 ('9/1/2007', '20:50:00',  7.538, 0.088, 231.92, 32.6,  0., 63., 17.)
 ('9/1/2007', '20:53:00',  8.116, 0.096, 230.61, 35.2,  0., 70., 16.)
 ('9/1/2007', '20:56:00',  8.39 , 0.106, 233.83, 36. ,  0., 72., 17.)
 ('9/1/2007', '20:59:00',  8.104, 0.18 , 233.16, 34.8,  0., 71., 17.)
 ('9/1/2007', '21:02:00',  7.332, 0.138, 234.38, 31.2,  0., 72., 17.)
 ('20/1/2007', '19:16:00',  6.23 , 0.45 , 228.98, 27.2,  0., 35., 16.)
 ('20/1/2007', '19:19:00',  6.24 , 0.436, 229.62, 27.2,  0., 35., 16.)
 ('20/1/2007', '19:22:00',  8.242, 0.406, 227.3 , 36.4,  0., 27., 16.)
 ('20/1/2007', '19:25:00',  6.238, 0.36 , 231.32, 27. ,  0., 36., 17.)
 ('20/1/2007', '19:34:00',  8.306, 0.146, 228.59, 36.2,  0., 34., 16.)
 ('21/1/2007', '19:23:00',  6.5  , 0.14 , 225.72, 29. ,  0., 49., 16.)
 ('21/1/2007', '19:26:00',  7.54 , 0.268, 224.77, 33.6,  0., 67., 15.)
 ('21/1/2007', '19:29:00',  7.186, 0.276, 227.35, 31.6,  0., 68., 15.)
 ('21/1/2007', '19:32:00',  7.948, 0.354, 224.68, 35.4,  0., 67., 15.)
 ('22/1/2007', '20:22:00',  7.144, 0.21 , 231.77, 31. ,  0., 66., 17.)
 ('22/1/2007', '20:25:00',  7.608, 0.194, 231.98, 32.8,  0., 69., 17.)
 ('22/1/2007', '20:29:00',  6.976, 0.2  , 232.7 , 30.2,  0., 63., 17.)
 ('27/1/2007', '23:48:00',  6.03 , 0.164, 239.29, 25.2,  0., 37.,  0.)
 ('27/1/2007', '23:58:00',  6.106, 0.   , 239.6 , 25.4,  0., 37., 18.)
 ('3/2/2007', '19:03:00',  6.844, 0.57 , 229.27, 30.2, 24., 34., 16.)
 ('3/2/2007', '19:41:00',  7.648, 0.592, 229.85, 33.2, 35., 36., 16.)
 ('15/2/2007', '19:37:00',  6.906, 0.608, 233.8 , 29.6,  0., 37., 17.)
 ('15/2/2007', '19:45:00',  6.688, 0.432, 233.  , 28.8,  0., 36., 17.)
 ('19/2/2007', '19:51:00',  6.532, 0.364, 230.11, 28.4,  0., 34., 16.)
 ('20/2/2007', '20:27:00',  7.8  , 0.078, 234.85, 33.2,  0., 73., 17.)
 ('20/2/2007', '20:30:00',  7.824, 0.124, 232.19, 33.8,  0., 70., 17.)
 ('20/2/2007', '20:33:00',  6.892, 0.088, 231.36, 29.8,  0., 70., 17.)
 ('20/2/2007', '20:36:00',  6.956, 0.182, 231.43, 30. ,  0., 71., 16.)
 ('21/2/2007', '19:44:00',  6.32 , 0.298, 232.3 , 27.4,  0., 35.,  0.)
 ('21/2/2007', '19:47:00',  6.76 , 0.302, 232.18, 29. ,  0., 35.,  0.)
 ('22/2/2007', '19:34:00',  6.16 , 0.08 , 232.71, 26.4,  0., 36., 16.)
 ('22/2/2007', '21:04:00',  8.616, 0.086, 227.4 , 38. , 35., 55., 16.)
 ('22/2/2007', '21:07:00',  9.316, 0.   , 226.72, 41. , 35., 67., 16.)
 ('22/2/2007', '21:10:00',  9.244, 0.   , 224.24, 41.2, 34., 66., 16.)
 ('22/2/2007', '21:13:00',  9.26 , 0.   , 224.76, 41.2, 35., 66., 16.)
 ('22/2/2007', '21:16:00',  7.79 , 0.   , 227.04, 34.6, 35., 43., 16.)
 ('22/2/2007', '21:37:00',  6.222, 0.192, 229.33, 27.2,  1., 27., 17.)
 ('22/2/2007', '21:43:00',  6.346, 0.114, 230.16, 27.6,  2., 35., 16.)
 ('4/3/2007', '18:31:00',  6.398, 0.   , 233.21, 27.4,  0., 58., 17.)
 ('4/3/2007', '19:33:00', 10.65 , 0.5  , 229.97, 46.4, 36., 70., 17.)
 ('4/3/2007', '19:36:00',  6.844, 0.414, 232.6 , 29.4,  1., 70., 17.)
 ('4/3/2007', '19:39:00',  6.6  , 0.36 , 234.37, 28.2,  1., 72., 17.)
 ('4/3/2007', '19:42:00',  6.378, 0.15 , 233.2 , 27.2,  0., 71., 17.)
 ('4/3/2007', '19:45:00',  6.372, 0.142, 233.3 , 27.2,  0., 71., 17.)
 ('4/3/2007', '21:29:00',  6.854, 0.   , 233.34, 29.2,  0., 71., 16.)
 ('4/3/2007', '21:32:00',  6.918, 0.   , 233.6 , 29.6,  0., 71., 16.)
 ('4/3/2007', '21:36:00',  6.27 , 0.   , 234.82, 27. ,  0., 62., 17.)
 ('5/3/2007', '19:49:00',  6.04 , 0.34 , 232.84, 26. , 36., 37.,  0.)
 ('8/3/2007', '19:09:00',  6.146, 0.38 , 231.98, 26.4, 36., 37.,  0.)
 ('19/3/2007', '21:04:00',  6.112, 0.15 , 235.69, 26.2, 20., 35., 17.)
 ('20/3/2007', '21:34:00',  6.338, 0.23 , 234.3 , 27. ,  1., 36., 17.)
 ('20/3/2007', '21:37:00',  6.054, 0.24 , 233.91, 25.8,  2., 35., 17.)
 ('20/3/2007', '21:43:00',  6.176, 0.364, 231.84, 26.6,  1., 36., 16.)
 ('20/3/2007', '21:46:00',  6.142, 0.262, 232.82, 26.4,  2., 36., 17.)
 ('20/3/2007', '21:53:00',  6.55 , 0.232, 233.95, 28. ,  1., 37., 17.)
 ('24/3/2007', '18:58:00',  6.196, 0.302, 232.6 , 26.8,  0., 35., 16.)
 ('31/3/2007', '19:59:00',  6.566, 0.536, 236.24, 28. ,  0., 37., 17.)
 ('31/3/2007', '20:04:00',  6.372, 0.52 , 234.94, 27.2,  0., 36., 17.)
 ('31/3/2007', '20:07:00',  6.202, 0.532, 236.48, 26.4,  0., 37., 17.)
 ('1/4/2007', '18:46:00',  6.198, 0.272, 234.15, 26.4,  1., 72., 17.)
 ('1/4/2007', '18:49:00',  6.38 , 0.272, 232.71, 27.4,  0., 72., 17.)
 ('1/4/2007', '21:55:00',  7.752, 0.292, 233.37, 33.2,  0., 70., 17.)
 ('1/4/2007', '21:58:00',  8.16 , 0.292, 232.51, 35. ,  1., 70., 17.)
 ('1/4/2007', '22:01:00',  7.044, 0.288, 233.07, 30.6,  1., 53., 17.)
 ('1/4/2007', '22:04:00',  7.336, 0.292, 233.23, 31.6,  1., 66., 17.)
 ('2/4/2007', '21:58:00',  6.138, 0.   , 233.88, 26.4,  1., 36., 17.)
 ('3/4/2007', '19:25:00',  7.794, 0.3  , 228.96, 34. , 36., 37., 16.)
 ('3/4/2007', '19:28:00',  6.224, 0.31 , 231.44, 27. , 10., 37., 17.)
 ('3/4/2007', '19:34:00',  6.552, 0.314, 232.73, 28.4, 14., 37., 16.)
 ('5/4/2007', '20:46:00',  6.164, 0.242, 234.26, 26.4,  1., 37., 17.)
 ('16/4/2007', '21:28:00',  6.026, 0.22 , 236.4 , 25.4,  1., 40., 17.)
 ('3/6/2007', '21:55:00',  6.166, 0.194, 229.2 , 26.8,  0., 70.,  0.)
 ('3/6/2007', '21:58:00',  6.184, 0.226, 229.09, 27. ,  0., 70.,  0.)
 ('3/6/2007', '22:01:00',  6.226, 0.188, 228.46, 27.2,  0., 70.,  0.)
 ('17/6/2007', '18:07:00',  6.32 , 0.46 , 235.19, 27. ,  0., 34., 17.)
 ('25/6/2007', '21:24:00',  6.182, 0.136, 234.11, 27.8,  0., 52., 17.)
 ('25/6/2007', '21:27:00',  6.126, 0.09 , 233.96, 26.2,  0., 71., 16.)
 ('25/6/2007', '21:30:00',  6.102, 0.07 , 233.28, 26. ,  0., 71., 16.)
 ('27/6/2007', '20:01:00',  6.376, 0.296, 232.68, 27.6,  0., 23., 17.)
 ('2/7/2007', '20:34:00',  6.536, 0.518, 234.82, 28. ,  0., 69.,  0.)
 ('3/7/2007', '22:14:00',  6.702, 0.282, 231.99, 28.8,  0., 69., 17.)
 ('6/7/2007', '21:13:00',  6.422, 0.476, 237.03, 27. ,  1., 73., 17.)
 ('6/7/2007', '21:16:00',  6.392, 0.468, 236.54, 27. ,  1., 74., 17.)
 ('6/7/2007', '21:21:00',  6.364, 0.22 , 236.49, 27. ,  1., 70., 17.)
 ('12/8/2007', '23:22:00',  6.122, 0.242, 228.44, 27.6, 25., 26., 16.)
 ('24/8/2007', '20:48:00',  7.982, 0.718, 232.92, 34.6, 37., 38., 16.)
 ('12/9/2007', '22:00:00',  6.18 , 0.252, 234.07, 26.4,  0., 70., 17.)
 ('12/9/2007', '22:04:00',  6.066, 0.252, 234.05, 25.8,  0., 72., 17.)
 ('24/9/2007', '20:46:00',  6.28 , 0.094, 230.33, 27.2,  1., 36., 16.)
 ('26/9/2007', '21:25:00',  6.954, 0.382, 232.55, 30. ,  0., 36., 17.)
 ('10/10/2007', '21:00:00',  6.068, 0.128, 234.16, 26. , 33., 35., 17.)
 ('13/10/2007', '19:55:00',  6.204, 0.346, 231.43, 26.8,  0., 35., 17.)
 ('13/10/2007', '19:58:00',  6.304, 0.264, 231.59, 27.2,  0., 35., 16.)
 ('13/10/2007', '20:01:00',  6.598, 0.248, 232.11, 28.4,  0., 35., 17.)
 ('13/10/2007', '20:04:00',  8.866, 0.246, 229.05, 38.6,  0., 34., 16.)
 ('13/10/2007', '20:09:00',  6.254, 0.124, 232.24, 26.8,  0., 35., 16.)
 ('13/10/2007', '20:12:00',  6.888, 0.136, 231.11, 30.2,  0., 34., 16.)
 ('13/10/2007', '20:17:00',  6.266, 0.164, 232.77, 26.8,  0., 36., 17.)
 ('12/11/2007', '20:27:00',  7.16 , 0.424, 232.17, 31. ,  0., 37., 17.)
 ('12/11/2007', '20:30:00',  6.134, 0.472, 233.65, 27. ,  0., 36., 17.)
 ('12/11/2007', '20:33:00',  7.85 , 0.372, 231.59, 33.8,  0., 71., 17.)
 ('12/11/2007', '20:36:00',  7.724, 0.364, 232.51, 33.2,  0., 73., 16.)
 ('12/11/2007', '20:39:00',  7.702, 0.276, 233.42, 33. ,  0., 73., 17.)
 ('17/11/2007', '18:36:00',  6.064, 0.446, 231.19, 26.2,  0., 35., 16.)
 ('4/12/2007', '21:25:00',  6.312, 0.434, 237.09, 26.8,  0., 37., 17.)
 ('4/12/2007', '21:45:00',  6.282, 0.   , 237.92, 26.4,  0., 37., 18.)
 ('8/12/2007', '19:58:00',  6.022, 0.294, 233.85, 25.8,  0., 35., 17.)
 ('8/12/2007', '20:25:00',  6.058, 0.272, 233.76, 25.8,  0., 35., 17.)
 ('8/12/2007', '20:30:00',  6.19 , 0.424, 233.72, 26.4,  0., 36., 16.)
 ('8/12/2007', '20:37:00',  6.008, 0.316, 234.51, 25.6,  0., 37., 17.)
 ('9/12/2007', '19:05:00',  6.238, 0.194, 230.72, 27. ,  0., 35., 16.)
 ('9/12/2007', '19:08:00',  6.202, 0.178, 230.9 , 26.8,  0., 34., 17.)
 ('9/12/2007', '19:11:00',  6.172, 0.19 , 229.75, 26.8,  0., 34., 16.)
 ('9/12/2007', '19:14:00',  6.284, 0.292, 230.12, 27.2,  0., 34., 16.)
 ('9/12/2007', '19:17:00',  6.29 , 0.312, 230.31, 27.2,  0., 34., 16.)
 ('9/12/2007', '19:20:00',  6.218, 0.288, 228.95, 27.2,  0., 33., 17.)
 ('9/12/2007', '19:25:00',  6.34 , 0.31 , 229.92, 27.6,  0., 34., 16.)
 ('22/12/2007', '20:41:00',  6.078, 0.214, 233.01, 26.2, 32., 34.,  0.)
 ('22/12/2007', '20:51:00',  6.456, 0.424, 233.16, 27.6,  1., 35.,  0.)
 ('22/12/2007', '20:55:00',  6.538, 0.376, 235.43, 27.8,  0., 36.,  0.)
 ('22/12/2007', '21:02:00',  7.564, 0.45 , 234.43, 32.2,  0., 37., 18.)
 ('22/12/2007', '21:05:00',  6.992, 0.394, 235.22, 29.8,  1., 27., 17.)
 ('23/12/2007', '19:06:00',  7.112, 0.22 , 230.56, 30.8,  0., 70.,  0.)
 ('23/12/2007', '19:09:00',  6.834, 0.26 , 231.24, 29.4,  0., 71.,  0.)
 ('23/12/2007', '19:12:00',  6.698, 0.244, 230.99, 29. ,  0., 70.,  0.)
 ('23/12/2007', '19:35:00',  6.696, 0.602, 233.71, 29. , 11., 39., 17.)
 ('23/12/2007', '19:40:00',  7.642, 0.424, 233.36, 32.8, 37., 38., 16.)
 ('23/12/2007', '19:46:00',  6.25 , 0.524, 233.51, 27.2, 18., 21., 16.)
 ('23/12/2007', '19:51:00',  6.048, 0.388, 235.16, 25.6,  0., 38., 17.)
 ('27/12/2007', '22:00:00',  6.972, 0.   , 231.35, 30.2, 31., 34., 17.)
 ('28/12/2007', '18:02:00',  6.408, 0.238, 236.3 , 27.2,  0., 59., 17.)
 ('28/12/2007', '18:05:00',  7.036, 0.234, 235.22, 29.8,  0., 74., 17.)
 ('28/12/2007', '18:08:00',  6.954, 0.314, 235.82, 29.4,  0., 74., 17.)
 ('28/12/2007', '18:12:00',  6.4  , 0.332, 238.25, 27. ,  0., 66., 18.)
 ('2/2/2008', '19:16:00',  6.6  , 0.34 , 231.41, 28.8, 27., 34., 16.)
 ('2/2/2008', '19:30:00',  7.668, 0.488, 230.11, 33.6, 22., 35., 17.)
 ('2/2/2008', '19:38:00',  6.152, 0.588, 232.42, 26.6,  1., 36., 16.)
 ('2/2/2008', '19:43:00',  6.104, 0.586, 230.98, 26.4,  1., 36., 16.)
 ('2/2/2008', '19:48:00',  7.448, 0.46 , 230.31, 32.6, 19., 36., 16.)
 ('2/2/2008', '19:51:00',  7.302, 0.476, 230.7 , 32. , 15., 36., 16.)
 ('20/2/2008', '20:00:00',  6.328, 0.26 , 236.87, 27.4, 21., 36.,  0.)
 ('5/3/2008', '18:30:00',  6.276, 0.172, 234.28, 26.8,  0., 68.,  0.)
 ('5/3/2008', '18:33:00',  6.506, 0.256, 233.94, 27.8,  0., 72.,  0.)
 ('5/3/2008', '18:36:00',  6.524, 0.286, 233.65, 27.8,  0., 72.,  0.)
 ('5/3/2008', '21:34:00',  6.114, 0.   , 234.58, 26.2,  1., 27., 17.)
 ('5/3/2008', '21:37:00',  6.558, 0.074, 233.64, 28. ,  1., 35., 17.)
 ('5/3/2008', '21:53:00',  6.372, 0.   , 233.72, 27.6, 12., 36., 17.)
 ('5/3/2008', '22:32:00',  7.012, 0.098, 233.56, 30. , 36., 37.,  0.)
 ('23/3/2008', '20:18:00',  7.444, 0.196, 233.47, 31.8, 36., 37., 17.)
 ('23/3/2008', '20:25:00',  7.128, 0.244, 233.14, 30.6,  0., 72., 17.)
 ('23/3/2008', '20:28:00',  7.268, 0.192, 233.61, 31. ,  0., 72., 17.)
 ('23/3/2008', '20:31:00',  6.958, 0.188, 233.62, 29.8,  0., 73., 17.)
 ('23/3/2008', '20:34:00',  6.668, 0.18 , 233.65, 28.4,  0., 73., 17.)
 ('12/4/2008', '18:19:00',  6.568, 0.394, 237.7 , 27.6, 34., 36., 18.)
 ('20/4/2008', '21:01:00',  8.084, 0.288, 232.56, 34.6,  1., 71., 18.)
 ('20/4/2008', '21:03:00',  7.798, 0.328, 231.76, 33.6,  1., 71., 17.)
 ('20/4/2008', '21:07:00',  7.452, 0.346, 232.31, 32.2,  1., 68., 17.)
 ('20/4/2008', '21:11:00',  6.436, 0.382, 232.1 , 27.6,  1., 37., 17.)
 ('20/4/2008', '21:15:00',  6.2  , 0.216, 232.51, 26.6,  1., 37., 17.)
 ('18/5/2008', '20:30:00',  6.76 , 0.236, 234.9 , 29.8,  2., 52., 28.)
 ('18/5/2008', '20:34:00',  7.34 , 0.18 , 233.02, 31.4,  1., 71., 24.)
 ('18/5/2008', '20:47:00',  6.342, 0.076, 235.23, 27.2, 27., 37., 18.)
 ('8/6/2008', '21:42:00',  6.474, 0.136, 235.9 , 27.6,  0., 64., 18.)
 ('8/6/2008', '21:46:00',  6.962, 0.132, 234.92, 29.6,  0., 72., 18.)
 ('8/6/2008', '21:50:00',  6.26 , 0.   , 235.65, 26.8,  0., 71., 17.)
 ('3/7/2008', '21:38:00',  6.33 , 0.   , 234.3 , 27. ,  1., 71., 18.)
 ('3/7/2008', '21:42:00',  7.126, 0.   , 233.49, 30.8, 27., 63., 18.)
 ('16/7/2008', '21:01:00',  6.26 , 0.336, 236.12, 26.4,  0., 74., 18.)
 ('16/7/2008', '21:05:00',  6.752, 0.322, 235.12, 28.8,  0., 74., 17.)
 ('22/9/2008', '20:16:00',  6.646, 0.212, 230.75, 28.8,  1., 68., 17.)
 ('22/9/2008', '20:20:00',  6.684, 0.128, 233.23, 28.6,  2., 71., 17.)
 ('22/9/2008', '20:33:00',  7.318, 0.254, 231.75, 31.6, 35., 37., 28.)
 ('12/10/2008', '19:31:00',  6.976, 0.356, 231.68, 30.2, 33., 35., 17.)
 ('12/10/2008', '19:35:00',  6.968, 0.358, 232.4 , 30. ,  0., 72., 17.)
 ('12/10/2008', '19:39:00',  6.532, 0.36 , 232.33, 28.2,  0., 72., 11.)
 ('12/10/2008', '20:17:00',  7.654, 0.192, 229.87, 33.2,  0., 70., 17.)
 ('12/10/2008', '20:21:00',  7.472, 0.09 , 230.88, 32.2,  0., 70., 17.)
 ('12/10/2008', '20:25:00',  8.22 , 0.156, 230.71, 35.8,  0., 67., 26.)
 ('4/11/2008', '18:54:00',  7.242, 0.194, 227.78, 31.8,  0., 69.,  0.)
 ('4/11/2008', '18:58:00',  6.73 , 0.196, 227.97, 29.4,  0., 70.,  0.)
 ('4/11/2008', '20:42:00',  7.122, 0.338, 231.54, 31. ,  0., 63., 17.)
 ('4/11/2008', '20:46:00',  7.72 , 0.45 , 232.88, 33.2,  0., 72., 17.)
 ('4/11/2008', '20:50:00',  7.304, 0.224, 232.1 , 31.4,  0., 72., 17.)
 ('4/11/2008', '21:32:00',  6.844, 0.252, 234.22, 29.2,  0., 72., 17.)
 ('4/11/2008', '21:36:00',  6.924, 0.258, 235.89, 29.2,  0., 73., 17.)
 ('4/11/2008', '21:40:00',  6.332, 0.212, 236.16, 26.8,  0., 73., 18.)
 ('22/11/2008', '21:44:00',  6.61 , 0.094, 231.3 , 28.8, 15., 37., 17.)
 ('23/11/2008', '18:03:00',  7.106, 0.364, 230.52, 31. ,  0., 26., 17.)
 ('23/11/2008', '18:07:00',  7.568, 0.366, 230.24, 32.8,  0., 34., 16.)
 ('23/11/2008', '18:11:00',  7.662, 0.478, 230.48, 33.2,  0., 36., 17.)
 ('23/11/2008', '18:15:00',  7.61 , 0.47 , 229.69, 33.2,  0., 36., 17.)
 ('23/11/2008', '18:19:00',  6.478, 0.226, 232.16, 27.8,  0., 36., 16.)
 ('23/11/2008', '18:25:00',  6.448, 0.158, 230.89, 27.8,  0., 35., 16.)
 ('23/11/2008', '18:33:00',  6.354, 0.318, 231.14, 27.6,  0., 28., 16.)
 ('23/11/2008', '18:37:00',  6.408, 0.328, 233.08, 27.6,  0., 28., 16.)
 ('23/11/2008', '18:41:00',  6.744, 0.272, 232.09, 29.2,  0., 27., 16.)
 ('23/11/2008', '18:50:00',  6.564, 0.408, 230.98, 28.6,  0., 29., 17.)
 ('23/11/2008', '18:54:00',  6.614, 0.384, 233.64, 28.2,  0., 39., 16.)
 ('23/11/2008', '18:58:00',  6.226, 0.334, 232.75, 26.8,  0., 37., 17.)
 ('23/11/2008', '20:23:00',  6.966, 0.266, 232.29, 30.2,  1., 33., 16.)
 ('23/11/2008', '20:27:00',  7.196, 0.202, 232.66, 30.8,  1., 36., 17.)
 ('23/11/2008', '20:31:00',  7.124, 0.19 , 231.4 , 30.8,  1., 36., 16.)
 ('23/11/2008', '20:35:00',  6.616, 0.164, 233.05, 28.4,  1., 37., 17.)
 ('23/11/2008', '20:49:00',  7.806, 0.39 , 233.87, 34. , 25., 34., 17.)
 ('23/11/2008', '21:01:00',  6.17 , 0.266, 234.84, 26.4,  1., 24., 17.)
 ('30/11/2008', '20:12:00',  7.852, 0.   , 233.07, 33.6,  1., 71., 16.)
 ('30/11/2008', '20:16:00',  8.444, 0.058, 232.87, 36.4,  5., 72., 17.)
 ('30/11/2008', '20:20:00',  8.556, 0.06 , 234.09, 36.8, 36., 54., 17.)
 ('9/12/2008', '18:08:00',  6.882, 0.   , 234.72, 29.2,  0., 37.,  0.)
 ('1/1/2009', '20:47:00',  7.054, 0.368, 236.69, 30. ,  0., 73.,  0.)
 ('1/1/2009', '20:51:00',  6.132, 0.18 , 238.56, 26.2,  0., 42.,  0.)
 ('10/1/2009', '19:51:00',  6.79 , 0.172, 233.96, 29. ,  1., 71., 17.)
 ('10/1/2009', '19:55:00',  7.982, 0.068, 232.53, 34.6, 22., 71., 17.)
 ('10/1/2009', '19:59:00',  8.764, 0.06 , 232.35, 37.6, 36., 71., 17.)
 ('10/1/2009', '20:03:00',  8.042, 0.048, 232.44, 34.6, 36., 73., 16.)
 ('16/1/2009', '20:01:00',  7.07 , 0.352, 234.95, 30.4, 25., 35., 17.)
 ('16/1/2009', '20:20:00',  7.108, 0.228, 234.82, 30.6, 27., 35., 17.)
 ('18/1/2009', '19:54:00',  6.77 , 0.34 , 232.79, 29.4, 17., 36., 17.)
 ('11/2/2009', '18:37:00',  6.012, 0.322, 235.77, 25.4,  0., 35., 17.)
 ('22/2/2009', '20:06:00',  6.868, 0.108, 236.4 , 29. ,  0., 73., 17.)
 ('22/2/2009', '20:10:00',  6.6  , 0.09 , 238.04, 27.6,  0., 74., 17.)
 ('22/2/2009', '20:14:00',  6.524, 0.182, 236.37, 27.6,  0., 73., 17.)
 ('22/2/2009', '21:01:00',  6.744, 0.392, 237.39, 28.4,  1., 73.,  0.)
 ('22/2/2009', '21:05:00',  7.01 , 0.542, 239.38, 29.2,  1., 74.,  0.)
 ('22/2/2009', '21:10:00',  6.484, 0.378, 235.73, 27.4,  0., 72.,  0.)
 ('22/2/2009', '21:14:00',  7.246, 0.286, 233.3 , 31.4, 37., 49.,  0.)
 ('23/2/2009', '22:04:00',  7.164, 0.172, 232.93, 31. ,  1., 62., 17.)
 ('23/2/2009', '22:08:00',  6.848, 0.218, 234.64, 29.4,  1., 67., 17.)
 ('28/2/2009', '18:42:00',  6.004, 0.402, 229.4 , 26.4,  0., 54., 16.)
 ('17/3/2009', '20:23:00',  7.058, 0.116, 237.27, 30. ,  0., 64., 18.)
 ('17/3/2009', '20:27:00',  7.546, 0.126, 237.74, 31.8,  0., 65., 17.)
 ('17/3/2009', '20:31:00',  6.378, 0.064, 238.35, 26.8,  0., 58., 18.)
 ('17/3/2009', '20:35:00',  6.692, 0.05 , 237.29, 28.2,  0., 63., 17.)
 ('31/3/2009', '20:33:00',  7.06 , 0.19 , 232.85, 30.2,  0., 71., 17.)
 ('31/3/2009', '20:37:00',  6.454, 0.   , 233.61, 27.6,  0., 71., 17.)
 ('31/3/2009', '20:41:00',  6.534, 0.   , 234.79, 27.8,  0., 72., 17.)
 ('13/4/2009', '20:53:00',  6.03 , 0.178, 235.76, 25.6,  1., 73.,  1.)
 ('17/4/2009', '20:44:00',  6.79 , 0.21 , 237.03, 28.6,  0., 72., 18.)
 ('17/4/2009', '20:48:00',  7.01 , 0.152, 235.94, 29.6,  0., 73., 17.)
 ('17/4/2009', '20:52:00',  6.914, 0.092, 235.26, 29.4,  0., 72., 18.)
 ('3/5/2009', '20:48:00',  6.58 , 0.058, 237.6 , 28. , 18., 36., 18.)
 ('14/5/2009', '20:53:00',  6.434, 0.054, 233.61, 27.4,  0., 71., 17.)
 ('14/5/2009', '20:57:00',  6.692, 0.11 , 235.73, 28.4,  0., 73., 18.)
 ('16/6/2009', '18:25:00',  6.866, 0.088, 234.55, 29.4,  0., 36., 17.)
 ('3/11/2009', '20:20:00',  6.164, 0.292, 232.03, 26.8, 14., 35., 17.)
 ('15/11/2009', '18:44:00',  6.45 , 0.378, 230.68, 28.2,  0., 60., 17.)
 ('15/11/2009', '18:48:00',  6.164, 0.382, 232.35, 27. ,  0., 55., 17.)
 ('24/11/2009', '19:30:00',  7.568, 0.156, 233.45, 32.4,  0., 70., 18.)
 ('24/11/2009', '19:34:00',  9.718, 0.256, 231.89, 41.8, 37., 70., 17.)
 ('24/11/2009', '19:38:00',  9.726, 0.364, 231.61, 42. , 36., 70., 17.)
 ('24/11/2009', '19:42:00',  8.12 , 0.48 , 233.89, 35. , 37., 48., 17.)
 ('14/12/2009', '18:43:00',  6.69 , 0.596, 237.58, 28.2,  0., 39., 18.)
 ('30/12/2009', '19:28:00',  6.092, 0.462, 236.31, 25.8,  0., 73.,  0.)
 ('30/12/2009', '19:32:00',  6.28 , 0.462, 237.47, 26.4,  0., 73.,  1.)
 ('30/12/2009', '19:36:00',  6.682, 0.41 , 237.84, 28. ,  0., 73.,  0.)
 ('30/12/2009', '20:53:00',  6.668, 0.332, 234.42, 28.8, 14., 34., 28.)
 ('15/1/2010', '20:49:00',  9.098, 0.49 , 236.35, 38.6, 18., 73., 18.)
 ('15/1/2010', '20:53:00',  7.824, 0.332, 235.85, 33.4,  9., 73., 17.)
 ('15/1/2010', '20:57:00',  6.422, 0.462, 237.35, 28. , 10., 52., 18.)

### Estimate time

In [14]:
scores = pd.DataFrame(results, columns=["Library", "Operation", "Time (seconds)", "Score"])

scores

   Library               Operation  Time (seconds)  Score
0   Pandas           download_data        1.707587      5
1    Numpy           download_data       15.344622      1
2   Pandas            active_power        0.007863      5
3    Numpy            active_power        0.025476      4
4   Pandas                 voltage        0.079228      5
5    Numpy                 voltage        0.141302      4
6   Pandas  intensity_sub_metering        0.011341      5
7    Numpy  intensity_sub_metering        0.041559      2
8   Pandas             mean_values        0.215677      5
9    Numpy             mean_values        0.235179      4
10  Pandas          data_after_6pm        8.172282      1
11   Numpy          data_after_6pm        1.476409      5